.secondaryText {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
}

.basicInfo {
  display: flex;
  flex-direction: column;
}

.resumeLangToggle {
  position: absolute;
  top: 1rem;
  right: 2.1rem;
  cursor: pointer;
  font-size: 0.8rem;
}

.resumeLangToggle:hover {
  text-decoration: underline;
}

.basicInfoPrimary {
  width: 100%;
  display: flex;
  justify-content: center;
}

.basicInfoPrimaryItem {
  font-size: 1.2rem;
  font-weight: bolder;
}

.basicInfoSecondary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.basicInfoSecondaryRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0.3rem;
  flex-flow: wrap;
}

.basicInfoSecondary .basicInfoSecondaryItem {
  margin-right: 1rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.basicInfoIcon {
  margin-right: 0.3rem;
}
